html {
    background-image: url('./assets/bark.jpg');
    background-size: cover;
    min-height:100%;
}

.container {
    background: burlywood;
    margin: 1em auto 1em auto;
    width: 80%;
    max-width: 750px;
    max-height: 815px;
    border: 2px solid #695247;
    border-radius: 30px;
    box-shadow: inset 0 0 15px #695247;
    padding: 1em 1em 2em 1em;
}

.cell-grid {
    margin: auto;
    width: 90%;
    max-width: 700px;
    /*border: 5px solid #6d6d6d;*/

}

.site-header {
    color: green;
    font-size: 48px;
    text-align: center;
    text-decoration: underline;
}

@media only screen and (min-width: 960px) {

    .main {
        display: grid;
        grid-template-columns: 25% auto 25%;
        grid-template-rows: 1% auto 10%;
        column-gap: 10px;
        max-width: 1800px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }

    .grid-container {
        grid-area: 2 / 2 / 3 / 3;
    }
}
