.cell {
    width: 30px;
    background: #ffe8cf;
    border: .25px solid burlywood;
}

.cell:after {
    content: "";
    display: block;
    padding-top: 100%;
}

.cell.alive {
    background: var(--cell-color);
    border-radius: 3px;
}

.cell:hover,
.cell:focus {
    background: #8cb18c;
}

.cell.alive:hover,
.cell.alive:focus {
    background: #64b164;
}
