.cell {
    width: 30px;
    background: whitesmoke;
    border: .25px solid lightgrey;
}

.cell:after {
    content: "";
    display: block;
    padding-top: 100%;
}

.cell:hover,
.cell:focus {
    background: darkgreen;
    opacity: .5;
}

.cell.alive {
    background: var(--cell-color);
    border-radius: 3px;
}