/*#control-panel {*/
/*    display: flex;*/
/*    flex-wrap: wrap-reverse;*/
/*    justify-content: center;*/
/*}*/

#control-panel {
    text-align: center;
}

.button-row button {
    margin: .5em;
    background: green;
    color: white;
    border-radius: 7px;
    padding: .5em 1em;
    border: none;
    box-shadow: 1px 1px 5px grey;
}

.button-row button:focus,
#control-panel select:focus {
    outline: none;
}

.button-row button:active {
    background: #009b00;
    box-shadow: none;
}

.grid-select-wrapper label {
    margin: 1em;
}

#control-panel option:hover{
    background: white;
}

#grid-size-select {
    margin: 1em;
    background: green;
    border: none;
    color: white;
    border-radius: 7px;
    padding: .4em 1em;
    box-shadow: 1px 1px 5px grey;
}

.section-header {
    text-align: center;
    text-decoration: underline;
}

.grid-select-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*speed slider*/
.speed-slider-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.speed-slider-wrapper label {
    margin: 1em;
}

.rc-slider {
    width: 107px;
    margin: auto 5%;
}

.rc-slider-track {
    background-color: green;
}

.rc-slider-handle {
    border: solid 2px green;
}

.rc-slider-handle:active,
.rc-slider-handle:hover,
.rc-slider-handle-click-focused:focus{
    border-color: var(--cell-color);
    box-shadow: unset;
}

.buttons {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}




@media only screen and (min-width: 1250px) {
    #control-panel {
        grid-area: 2 / 3 / 3 / 4;
        height: 350px;
    }
    .buttons {
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

}